/* *  Event Calendar (SQLite) - style.css (utf-8)
 * by Werner Zenk
 * edited by Tommy */

/* Global Styles */

:root {
  --font-family: Dimbo, sans-serif;
  --color: white;
  --font-color: black;
  --bgcolor-even: rgba(250, 250, 250, 0.97);
  --bgcolor-odd: rgba(240, 240, 240, 0.97);
  --bgcolor-scheme: rgb(255, 255, 255);
  --highlight-color: rgb(4, 122, 240);
  --highlight-bgcolor: rgba(223, 238, 255, 0.97);
  color-scheme: light dark;
}

/* Calendar */

div#calendar {
  min-height: 325px;
}

/* Table */

table#table {
  font-family: var(--font-family);
  font-size: clamp(0.9rem, 1vw, 1.1rem);
  table-layout: auto;
  border-collapse: separate;
  border-spacing: 1px;
  width: 100%;
  z-index: 10;
  cursor: default;
  -webkit-user-select: none;
  user-select: none;
}

/* Table (nth-child even/odd) */

table#table th:nth-child(even), table#table td:nth-child(even) {
  background-color: var(--bgcolor-even);
}

table#table th:nth-child(odd), table#table td:nth-child(odd) {
  background-color: var(--bgcolor-odd);
}

/* th (Weekdays) */

table#table th.columns {
  font-weight: normal;
  text-align: center;
  width: 14.285714%;
  box-shadow: inset 0px -0.5px rgb(190, 190, 190);
  position: sticky;
  top: 30px;
  z-index: 50;
}

table#table th.columns:hover {
  color: var(--highlight-color);
}

/* Week */

table#table th.column {
  font-weight: normal;
  text-align: center;
  box-shadow: inset 0px -0.5px rgb(190, 190, 190);
  position: sticky;
  top: 30px;
  z-index: 50;
}

/* One Day */

table#table td.one-day {
  vertical-align: top;
  height: 65px;
}

table#table td.one-day:hover {
  color: var(--highlight-color);
}

/* No Day */

table#table td.no-day {
  color: rgba(184, 184, 184, 0.5);
  vertical-align: top;
}

/* Today */

table#table td.today {
  box-shadow: inset 0px 0px 4px var(--highlight-color);
  border-radius: 2px;
}

/* Week */

table#table th.week {
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  padding: 0px 5px 0px 5px;
}

table#table th.week:hover {
  color: var(--highlight-color);
}

/* Navigation */

table#table th#navigation {
  font-size: 26px;
  text-align: center;
  white-space: nowrap;
  background-image: linear-gradient(var(--bgcolor-scheme), var(--bgcolor-odd));
  position: sticky;
  top: 0px;
  z-index: 100;
}

/* Menu */

table#table td#menu {
  text-align: right;
  background-image: linear-gradient(var(--bgcolor-odd), var(--bgcolor-scheme));
}

/* Highlight table row */

table#table > tbody > tr {
  transition: background-color 0.3s;
}

table#table > tbody > tr:hover {
  background-color: var(--highlight-color);
}

/* Hyperlinks */

a:link.link, a:visited.link {
  color: var(--highlight-color);
  word-break: break-all;
}

/* Function calls */

.navLink {
  display: inline-block;
  padding: 1px 8px 1px 8px;
  border-radius: 2px;
}

.navLink:hover {
  color: var(--highlight-color);
  background-color: var(--highlight-bgcolor);
  outline: solid 1px var(--highlight-color);
  cursor: pointer;
}

/* Close window */

div#title-bar > .navLink {
  padding: 5px 8px 5px 8px;
}

div#title-bar > .navLink:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(232, 17, 35);
  border-top-right-radius: 5px;
  outline: 0px;
}

/* Days outside the current month */

div.no-selection {
  padding: 1px 8px 1px 8px;
}

/* Logout highlight */

span.logout {
  text-decoration: underline solid 0.5px currentColor;
  text-underline-offset: 2px;
}

/* Window */

form#form {
  font-family: var(--font-family);
  font-size: clamp(1rem, 1.1vw, 1.1rem);
  /*color: var(--color);*/
  background-color: var(--color);
  border-radius: 5px;
  outline: solid 1px rgb(153, 153, 153);
  /*box-shadow: 0px 0px 15px 9px rgb(190 190 190 / 55%);*/
  position: absolute;
  z-index: 1500;
  -webkit-user-select: none;
  user-select: none;
}

/* Title bar */

div#title-bar {
  font-family: var(--font-family);
  font-size: 26px;
  color: rgb(140,198,63);
  letter-spacing: 0.5px;
  background-color: var(--highlight-bgcolor);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: Solid 1px rgba(155, 155, 155, 0.5);
  display: grid;
  grid-template-columns: 1.9fr 0.27fr;
  height: auto;
  /*padding: 5px 0px 5px 10px;*/
  position: sticky;
  top: 0px;
  cursor: move;
  min-width: 220px;
}

/* Calendar icon */

div#title::before {
  content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAR0lEQVR42mNggIGqM//BGB3gEideA0yAWGy/8PZ/UjDD7asP/xMLQGrhGpbP3QjHMIDsFMo1UMVJ6GKUaSDaSTAA4uDDMHUA2DOWmpNPH+AAAAAASUVORK5CYII=");
  padding-right: 5px;
}

/* Close cross */

div#close {
  font-size: 0.9rem;
  text-align: center;
  /*height: 20px;*/
  /*margin-top: -5px;*/
}

/* Headline */

div#headline {
  font-family: var(--font-family);
  font-size: clamp(1.2rem, 1.3vw, 1.4rem);
  font-variant: small-caps;
  color: var(--highlight-color);
  letter-spacing: 2px;
  text-align: center;
  -webkit-user-select: text;
  user-select: text;
  cursor: text;
}

/* Description */

div#description {
  margin-bottom: 5px;
  -webkit-user-select: text;
  user-select: text;
  cursor: text;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

/* Form block */

div#form-block {
  padding: 10px;
  /*min-width: 330px;*/
  max-width: 650px;
  min-height: 80px;
  resize: both;
  overflow-x: hidden;
  overscroll-behavior: contain;
  max-height: 450px;
}

/* Centered paragraph */

p.paragraph {
  text-align: center;
}

/* Event */

.event {
  font-family: var(--font-family);
  font-size: clamp(0.8rem, 1vw, 1.1rem) !important;
  text-align: left;
  word-break: break-all;
  padding: 0px 0px 0px 2px;
  border-radius: 2px;
  border: none !important;
  box-shadow: 1px 1px 2px 0.5px rgb(130, 130, 130);
  display: block;
  width: 100%;
  margin-bottom: 4px;
  cursor: pointer;
}

form div.event {
  font-family: var(--font-family);
  font-size: clamp(1rem, 1.1vw, 1.1rem) !important;
  line-height: 22px;
  padding-left: 5px;
  width: 97%;
  cursor: text;
}

/* Image, Video */

figure :is(img, video) {
  display: block;
  max-width: 100%;
  height: auto;
  border: Solid 1px rgb(32, 32, 32);
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgb(153, 153, 153);
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  cursor: default;
}

/* No JavaScript! */

noscript {
  color: rgb(255, 0, 0);
}

/* CSS classes set with JavaScript */

.active-event {
  box-shadow: 0px 0px 0px 3px var(--highlight-color);
  outline: solid 0.5px rgb(255 255 255);
  position: relative;
}

.showWeek {
  display: none;
}

/* Tooltip */

span.tool {
  display: inline-table;
  color: currentColor;
  cursor: help;
}

span.tip {
  display: none;
}

span.tool:hover span.tip {
  font-family: var(--font-family);
  font-size: 12px;
  color: currentColor;
  -webkit-user-select: text;
  user-select: text;
  cursor: text;
  display: table-caption;
  position: absolute;
  z-index: 2000;
  width: 250px;
  padding: 5px 0 5px 10px;
  background-color: var(--bgcolor-scheme);
  line-height: 20px;
  outline: solid 1px currentColor;
}

/* Month images */

div#month-image {
  height: 175px;
  background-size: cover !important;
  background-position: center center;
  box-shadow: inset 0px 0px 20px 0px rgba(170, 170, 170, 0.9);
  border-radius: 12px 12px 0 0;
  animation: moveMonthImage 25s 2s ease-in-out infinite alternate;
}

@keyframes moveMonthImage {
  from {
    background-position: top center;
  }
  to {
    background-position: bottom center;
  }
}

/* Focus indicator */

:focus-visible {
  outline: solid 1.5px var(--highlight-color);
}

/* Text area */

textarea {
  margin-top: 3px;
  width: 100%;
  max-width: 98%;
  min-width: 320px;
  height: 120px;
  min-height: 120px;
  max-height: 450px;
}

/* Input fields and buttons */

input[type="text"], input[type="date"], input[type="password"], input[type="time"], input[type="checkbox"], button[type="button"], textarea, select {
  font-family: var(--font-family);
  font-size: 1rem;
  caret-color: rgb(255, 0, 0);
  border: solid 1px rgb(118, 118, 118);
  border-radius: 2px;
}

button[type="button"]:hover {
  color: var(--highlight-color);
  background-color: var(--highlight-bgcolor);
  border: solid 1px var(--highlight-color);
}

/* Accent color for checkboxes */

input[type="checkbox"] {
  accent-color: var(--highlight-color);
}

/* Normal checkboxes */

input[type="checkbox"]:checked + label {
  color: var(--highlight-color);
}

/* Checkbox for copying */

input[type="checkbox"]:checked + label#copy {
  color: rgb(0, 172, 0);
}

/* Checkbox for deleting */

input[type="checkbox"]:checked + label#delete {
  color: rgb(238, 0, 0);
}

/* Input field for event */

input[type="text"].event-field {
  width: 83%;
}

/* Label (transition effect) */

label {
  transition: color 0.3s;
}

label:hover {
  color: var(--highlight-color);
}

/* Highlight access key */

label > u, summary > u, button > u {
  text-decoration: underline 1px var(--highlight-color);
  text-underline-offset: 1px;
}

/* Dropdown list, alternating background color */

option:nth-child(even) {
  background-color: var(--highlight-bgcolor);
}

/* Summary */

summary {
  transition: color 0.3s;
}

summary:hover {
  color: var(--highlight-color);
}

/* Summary arrow symbol */

summary::marker {
  color: var(--highlight-color);
}

/* Media Screen */

@media screen and (max-width: 48rem) {
  table#table td.one-day {
    height: 45px;
  }
}

@media screen and (max-width: 48rem) {
  table#table, div#active form {
    font-size: 0.8rem;
  }
}

/* EDIT Tommy word-spacing to 0 and font-size smaller for smartphone */

@media screen and (max-width: 48rem) {
  table#table th#navigation {
    word-spacing: 0px;
    font-size: 1.0rem;
  }
}

/* Shorten the name of the weekday */

@media screen and (max-width: 48rem) {
  span.abbrWeekday {
    display: none;
  }
}

@media screen and (max-width: 48rem) {
  .event {
    font-size: 0.6rem !important;
    line-height: 12px;
  }
}

@media screen and (min-width: 90rem) {
  table#table td.one-day {
    height: 85px;
  }
}

@media screen and (min-width: 90rem) {
  .event {
    line-height: 20px;
  }
}

@media screen and (min-width: 134rem) {
  table#table td.one-day {
    height: 115px;
  }
}

/* Media Print */

/* Media Color-Scheme */

@media (prefers-color-scheme: dark) {
  :root {
    --color: rgb(245, 245, 245);
    --bgcolor-even: rgba(0, 0, 0, 0.9);
    --bgcolor-odd: rgba(61, 61, 61, 0.9);
    --bgcolor-scheme: rgb(18, 18, 18);
  }
}

@media (prefers-color-scheme: dark) {
  div.event {
    box-shadow: 1px 1px 2px 0.5px rgb(255, 255, 255);
  }
}

/* Today */

@media (prefers-color-scheme: dark) {
  table#table td.today {
    box-shadow: inset 0px 0px 12px var(--highlight-color);
    border-radius: 2px;
  }
}

/* Dropdown list, alternating background color */

@media (prefers-color-scheme: dark) {
  option:nth-child(even) {
    background-color: rgba(100, 100, 100, 0.9);
  }
}

/* Highlight specific day 
td[data-day="05.07.2022"],
td[data-day="25.07.2022"] {
  background-color: #c6e3fd !important;
} */

/* Highlight day with an image 
td[data-day="07.07.2022"] {
  background-image: url("img/event.png");
  background-size: cover;
} */

/* Highlight every other day
td:nth-child(2n+1) {
  background-color: #dbf5fd !important;
} */

/* Highlight day with a gradient (stripes) 
td[data-day="04.07.2022"] {
  background-image: repeating-linear-gradient(45deg, Lightsteelblue, Lightsteelblue 5px, White 5px, White 10px);
} */

/* Highlight weekday 
td[data-weekday="Saturday"],
td[data-weekday="Sunday"] {
  background-color: #ffcece !important;
} */

/* Highlight name of the weekday 
th.Tuesday,
th.Thursday,
th.Saturday {
  background-color: #85ddf8 !important;
} */

/* Highlight week 
tr[data-week="1"],
tr[data-week="29"] {
  outline: Solid 2px #11d100;
} */
